<!DOCTYPE html>
<html>
  <head>
    <title>AirRoom2</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
    <script src="<%= ENV['GMAP_JS_URL'] %>&libraries=places"></script>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>

    <% if current_user %>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% end %>

    <div id="wrapper">
      <div class="container">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
     </div>
  </body>
</html>
